<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<!-- Local DB -->
		<property name="url"
			value="jdbc:mysql://adwitads-t2medium.cuqwfxuvnvkx.ap-south-1.rds.amazonaws.com:4661/adwitads_api" />
		<property name="username" value="adwitac_weborder" />
		<property name="password" value="adwitaws123" />
		<property name="connectionProperties">
			<props>
				<prop key="useUnicode">yes</prop>
				<prop key="characterEncoding">utf8</prop>
			</props>
		</property>


	</bean>



</beans>