@media (max-width: 768px){
    .col-xs-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-xs-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
.panel-border-right{
    border-right: 1px solid #ddd;
}
.panel-border-top{
    border-top: 1px solid #ddd;
}
.panel-default>.panel-heading {
    color: #333;
}
.panel-group .panel-heading {
    border-bottom: 0;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-group .panel {
    margin-bottom: 0;
}
.panel-default {
    border-color: #ddd !important;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
   
}
.panel-group {
    margin-bottom: 20px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
   
}
.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    color: #3f4254!important;
}
.fade.in{opacity:1}.collapse{display:none}.collapse.in{display:block}
.panel-title a:before {
    font-family:Fontawesome;
    content:'\f077';
    float:right;
    font-size:10px;
    font-weight:300;
}
.panel-title a.collapsed:before {
    font-family:Fontawesome;
    content:'\f078';
}
table.dataTable{
    text-align: center;
}
.float-right{
    float:right;
    text-align: right;
}
.margin-auto   {
    margin: auto;
} 
.border-grey{
    border: 1px solid #ececec;
}
.text-right{
    float:right;
}
table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "";
   
}
table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_desc:before, table.dataTable>thead .sorting_desc_disabled:before {
    right: 1em;
    content: "";
}
table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_desc_disabled:after {
    right: 0.1em;
    content: "";
}
.page-item .page-link{
    border-radius: 30px;
}
@media screen and (max-width: 530px){
    .btn-group, .btn-group-vertical {
     
   display: grid !important;
}
}

.productiontable, .prooftable,.questionstable,.approvedtable{
    display: none;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    flex: unset !important;
}
.order-head{
    padding: 10px 15px;
    background-color: #cacaca;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.border-radius-4{
    border-radius: 12px;
}
.border-radius-5{
    border-radius: 5px;
}
.btn-back-white{
    color: #181c32;
    border: 1px solid #c1c1c1 !important;
    background-color: #fff;
}
.btn-back-white:hover{
    color: #fff;
    background-color: #181c32 !important;
}
.text-color-white{
    color: #fff !important;
} 

.right{
    float: right;
}
.cursor{
    cursor: pointer;
}
.form-check.form-check-custom {
    display: inherit !important;
}
.p-right-6{
    padding-right: 1.5rem!important;
}
.p-left-6 {
    padding-left: 1.5rem!important;
}
@media (max-width: 768px){
    .p-right-6{
        padding-right: 0rem!important;
    }
    .p-left-6{
        padding-left: 0rem!important;
    }
    .col-xs-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-xs-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-xs-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-xs-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}

.btn.btn-secondary {
    color: #ffffff !important;
    background-color: #bbbbbb !important;
}
.btn.btn-secondary:hover {
    color: #ffffff !important;
    background-color: #8f8f8f!important;
}
.btn-group-sm>.btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon), .btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon).btn-sm {
    padding: calc(0.65rem + 1px) calc(0.25rem + 1px) !important;
}
.modal-header{
    padding: 0.75rem 0.75rem 0.75rem 1.75rem;
    background-color: #4e4e4e;
}
.modal-title{
    color: #ffffff !important;
}
.bi-x-circle:hover{
    color: #ffffff !important;
}
.button-radio input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
  }
  .button-radio{
    position: relative;
    right: 18px;
  }
  .button-radio input[type="radio"]:checked + label {
    background: #181c32;
    color: #fff;
    border-radius: 4px;
  }
  
  .btn-xs{
    padding: 5px 10px 5px 10px !important;
  }
  .height280 {
   height: 280px;
}
/* Picker */
.picker {
    display: inline-flex;
    overflow: hidden;
  }
  
  /* Picker focus ring */
  .picker:focus-within {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
  }
  
  
  /* Color picker */
  input[type="color"] {
    width: 50px;
    height: 43px;
    padding: 0px;
    -webkit-appearance: none;
  }
  .border-color-radius{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  input[type="color"]::-webkit-color-swatch {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  .collapse{
    display: block ;
}
.img-50{
    width: 50px;
}
.click-top{
    position: relative;
    bottom: 15px;
}
.gallery {
    position: relative;
    display: block;
    margin: auto !important;
    
    overflow: hidden;
    }
    .gallery .slick-list {
    overflow: hidden;
    }
    .gallery .slick-slide {
    outline: none !important;
    }
    
    .gallery-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 40px;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    line-height: 40px;
    text-align: center;
    z-index: 10;
    cursor: pointer;
    transition: background 0.3s ease;
    }
    
    .gallery-arrow.mod-prev {
    left: 0;
    border-radius: 0 4px 4px 0;
    }
    .gallery-arrow.mod-next {
    right: 0;
    border-radius: 4px 0 0 4px;
    }
    
    .gallery-item {
    position: relative;
    float: left;
    vertical-align: middle;
    text-align: center;
    }
    
    .gallery-img-holder {
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 500px;
    }
    
    .gallery-img {
    width: 100%;
    height: 100%;
    }
    @media (min-width: 768px){
    .slider-bold{
    padding-right: 40px;
    }
    .slider-clean{
        padding-right: 20px;
        padding-left: 20px;
    }
    .slider-diff{
        padding-left: 40px;
    }
}
p {
    margin-bottom: 0.5rem !important;
    font-size: 14px !important;
}
.datepicker-inline {
    width: 100% !important;
    border: 1px solid #e4e6ef;
}
.datepicker td, .datepicker th {
    text-align: center;
    width: 175px !important;
}